.vscode/**
typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
cures-condec-vscode.vsix
.codecov.yml
.travis.yml
node_modules
.eslintrc.json
coverconfig.json
coverage/**